* {
  font-family: 'California', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff; /* พื้นหลังเป็นสีขาว */
  color: #333; /* สีข้อความเป็นสีดำ */
}

.bg-primary {
  background-color: #4e3629 !important; /* น้ำตาลเข้ม */
}

.btn-primary {
  background-color: #3e2a1f; /* น้ำตาลเข้ม */
  color: #fff; /* ข้อความในปุ่มเป็นสีขาว */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px; /* เพิ่มมุมโค้งเล็กน้อย */
}

.btn-primary:hover {
  background-color: #2e1c13; /* สีน้ำตาลเข้มขึ้นสำหรับ hover */
}

.alert-info {
  background-color: #f5f5f5; /* สีพื้นหลังเป็นสีขาวอมเทา */
  color: #4e3629; /* สีข้อความเป็นน้ำตาลเข้ม */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d4d4d4; /* ขอบบางๆ สีเทา */
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-color: #fff; /* พื้นหลังกล่องเป็นสีขาว */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
}

/* ปรับปรุงสีของลิงก์ */
a {
  color: #4e3629; /* สีลิงก์เป็นน้ำตาลเข้ม */
  text-decoration: none;
}

a:hover {
  color: #2e1c13; /* เมื่อ hover เป็นสีน้ำตาลเข้มขึ้น */
}
